<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Try online voting – it’s easy!</h1>
    <p class="lead">Whether used for scheduling team meetings, business administration, or gathering opinions for educational purposes, there are many occasions when a poll can be a useful tool. Perhaps you need to get some feedback on the topic for your last corporate event or you need to set up a poll to find the best time for a weekly client lunch – whatever the reason, our site makes the whole process extremely simple. Get started today.</p>
  </div>
</div>


<section style = "background-color: #516ca9; color: white " class=" section section-sm section-sm-bottom-100 ">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 wow fadeInUp">
              <div class="box-icon-2">
                <div class="icon novi-icon mercury-icon-note-2"></div>
                <h5 class="title">Online Votings</h5>
                <p class="text">Send your voters an email with secure, single-use voting links that ensure only authorized voters can vote, once.</p>
              </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="box-icon-2">
                <div class="icon novi-icon mercury-ico mercury-icon-chart"></div>
                <h5 class="title">Multi-response polls</h5>
                <p class="text">Create a personalized poll that anyone can vote on, and share it using your website, email, or social media.</p>
              </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
              <div class="box-icon-2">
                <div class="icon novi-icon mercury-icon-time-sand"></div>
                <h5 class="title">Expiring votings</h5>
                <p class="text">Create an expiring survey to collect information more accurately. Only responsible people will have time to participate in this voting.</p>
              </div>
            </div>
          </div>
        </div>
      </section>



<section class="section bg-default section-md">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-6">
              <h2 class="title-icon"><span class="icon icon-default mercury-icon-target-2"></span><span>Our <span style="color: #f9544d">Mission</span></span></h2>
              <p class="big">We are developing an online open source voting platform that provides transparency into election results by allowing voters to independently audit the ballot box. Using cutting edge technologies, we can actually accomplish this, all while protecting each voter’s right to privacy.</p>
              <ul class="list-marked-2">
                <li>Various interesting votings and polls</li>
                <li>Easy to set up and vote</li>
                <li>Truly accurate results</li>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-6">
                  <!--Box counter-->
                  <div class="box-counter">
                    <div class="box-counter-main">
                      <div class="counter">{{mega_fv}}</div>
                    </div>
                    <p class="box-counter-title">Quantity of voices</p>
                  </div>
                </div>
                <div class="col-6">
                  <!--Box counter-->
                  <div class="box-counter">
                    <div class="box-counter-main">
                      <div class="counter">{{user_fv}}</div>
                    </div>
                    <p class="box-counter-title">Team Members</p>
                  </div>
                </div>
                <div class="col-6">
                  <!--Box counter-->
                  <div class="box-counter">
                    <div class="box-counter-main">
                      <div class="counter">{{vote_fv}}</div>
                    </div>
                    <p class="box-counter-title">Created votings</p>
                  </div>
                </div>
                <div class="col-6">
                  <!--Box counter-->
                  <div class="box-counter">
                    <div class="box-counter-main">
                      <div class="counter">99</div><span>%</span>
                    </div>
                    <p class="box-counter-title">Satisfaction Rate</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>