<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/bootstrap.css" %} >
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
<style>
    .big_logo{
        font-size: 150px;
        font-family: 'Roboto Mono', monospace;
        color: rgba(0,0,0,.4);
    }
    .text_logo{
        font-family: 'Roboto Mono', monospace;
        color: rgba(0,0,0,.4);
        margin: 100px;
    }
    .logo{
        position: absolute;
        top: 50%;
        transform: translate(0, -70%)
    }




</style>
{% include "header.html" %}
<div class="row">
    <div class="col-12 text-center logo">

        <br>
        <span class="big_logo">\(o_o)/</span><br>
        <span class="text_logo">А collision occurred</span><br>
        <span class="text_logo">Perhaps you didn't logged in?</span><br><br>
        <a class="btn btn-outline-primary btn-lg" href="/login/" class="text_logo">Login / Register</a><br>
    </div>
</div>
</body>
</html>
